<script id="IDE.Dialogs.ReferenceDialog" type="text/html">
    <div class="reference-dialog">
        <input type="text" name="KeywordSearch" data-bind="value: SearchEntry" />
        <br />

        <select data-bind="options: SearchResults" size="7"></select>
        <div class="reference-dialog-help" data-bind="html: Help">

        </div>
    </div>
</script>
<script id="IDE.Dialogs.ReferenceDialog" type="text/html">
</script>
