
<div id="ReferenceDialogPlaceholder">

    <div class="reference-dialog" data-bind="with: ReferenceDialog">
        <input type="text" name="KeywordSearch" data-bind="value: SearchEntry" />
        <button data-bind="click: PerformSearch">Search</button>
        <br />

        <select data-bind="options: SearchResults, value: SelectedEntry" size="7"></select>
        <br />
        <div class="reference-dialog-help" data-bind="html: Help">

        </div>

        <button data-bind="click: ChooseResult">Select</button>
        <hr />

        <button data-bind="click: DeleteReference">Delete</button>
        
    </div>
</div>
