<!-- Numeric -->
<script id="IDE.Steps.NumberStep" type="text/html">
    <div class="number-step exp">
        <input type="number" data-bind="value: Value" />
    </div>
</script>
<script id="NumberExpressionDisplay" type="text/html">
    <span data-bind="text: Value"></span>
</script>