
<script id="IDE.Steps.OperatorStep" type="text/html">
    <div class="operator-step exp">
        <div data-bind="foreach: OperandVarNames " class="row">
            <div class="operator col-md-1" data-bind="if: $index() > 0 ">
                <div>
                    <input type="text" class="form-control" data-bind="value: $parent.Operator" />
                </div>
            </div>
            <div  class="operand col-md-1" data-bind="template: { name: TypeName }">

            </div>
        </div>

        <button data-bind="click: AddOperand " >Add</button>
    </div>
</script>
<script id="OperatorStepDisplay" type="text/html">
</script>