
<script id="IDE.Steps.OperatorStep" type="text/html">
    <div class="operator-step exp">
        <div data-bind="foreach: OperandVarNames ">
            <div class="operator" data-bind="if: $index() > 0 ">
                <div>
                    <input type="text" data-bind="value: $parent.Operator" />
                </div>
            </div>
            <div class="operand">
                <div data-bind="text: StepName" />

                <button data-bind="click: function () { $parents[1].ShowAvailableSingleValueStepNames($parent, $data) } ">*</button><!-- CALLS the dialog from the parent function or code block-->
                
            </div>
        </div>
    </div>
</script>
<script id="OperatorStepDisplay" type="text/html">
</script>