<!-- Numeric -->
<script id="IDE.Steps.TableLoadStep" type="text/html">
    <div class="table-load-step exp">

        <div class="db-table-name col-md-3" data-bind="text: TableName">
        </div>
        <div data-bind="foreach: FieldNames " >
            <span class="db-field-name" data-bind="text: $data">
            </span>
        </div>
        <div class="col-md-2">
            <button type="button" class="reference-single-value btn btn-primary"
                    data-bind="click: function () { $parents[0].ShowAvailableDBTableNames($data) }, css: { 'btn-warning': IsSelected } ">
                Select Reference
            </button><!-- CALLS the dialog from the parent function or code block-->
        </div>

    </div>
</script>
<script id="IDE.Steps.TableLoadStepDisplay" type="text/html">
</script>