
<script id="IDE.Expressions.StepReferenceSingleValue" type="text/html">
    <button type="button" class="reference-single-value btn btn-primary" 
            data-bind="click: function () { $parents[1].ShowAvailableSingleValueStepNames($parent, $data) }, text: StepName, css: { 'btn-warning': IsSelected } ">Select Reference</button><!-- CALLS the dialog from the parent function or code block-->

            @*<div class="reference-single-value">
                
            </div>*@
</script>