
<script id="IDE.Expressions.StepReferenceSingleValue" type="text/html">
    
            <div class="reference-single-value">
                <div data-bind="text: StepName" />

                <button data-bind="click: function () { $parents[1].ShowAvailableSingleValueStepNames($parent, $data) } ">*</button><!-- CALLS the dialog from the parent function or code block-->

            </div>
</script>